* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: roboto-regular;
  background-color: var(--color-neutral-n00);
  height: 100vh;
  line-height: 1.714;
}

body {
  color: var(--color-neutral-n80);
  background-color: var(--color-neutral-n00);
  height: 100vh;
  font-size: 0.875rem;
  /* overflow-y: auto; */
}

button {
  all: unset;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  /* color: white; */
  height: 25px;
  width: 25px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}