/* FLEX HELPERS */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.flex-end {
  align-items: flex-end;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center{
  justify-content: center;
}

.flex.space-evenly {
  justify-content: space-evenly;
}
.flex.wrap {
  flex-wrap: wrap;
}

/* GRID HELPERS */
.grid {
  display: grid;
}

/* LIST HELPERS */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* HIDE */

.hide {
  display: none !important;
}

.active {
  color: var(--primaryClr);
}

.menu-bars {
  visibility: hidden;
}