/* MAIN LAYOUT */

.main-layout {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-auto-rows: minmax(auto, 128px);
  height: calc(100vh);
  overflow-y: hidden;

}

.main-layout > *.full {
  grid-column: 1 / -1;
}

/* SIDE BAR LAYOUT */
.aside-container {
  grid-column: 1 / span -1;
  position: sticky;
  left: 0;
  top: 64px;
  height: calc(100vh - 85px);
}


/* GALLERY LAYOUT */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-content: flex-start;
  /* height: 50vh; */
  gap: 8px;

  padding: 64px;
}

.saved-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-content: flex-start;
  height: calc(100vh - 128px);
  gap: 8px;
}