.canvas-actions {
  background-color: var(--color-neutral-n00);
  height: 31.25rem; 
  width: 31.25rem;
  border-radius: 16px;
  box-shadow: 4px 5px 20px 0px #00000030;
}

.main-actions {
  padding: 32px;
}

/* EDIT TEXT TOP SECTION */

.edit-text {
  color: var(--color-neutral-n80);
  height: 28px;
  align-items: center;

}

.edit-text-actions button {
  margin-left: 4px;
}

.edit-text-title {
  align-content: center;
  font-family: roboto-regular;
  font-size: 24px;
  line-height: 28.13px;
  color: var(--color-neutral-n80);
}

.lines-count {
  color: var(--color-neutral-n80);
  margin-right: 16px;
}

/* Add Line */

.btn-add-line {
  background-color: var(--color-poly-g40);
  transition: all 0.2s ease-in-out;
}

.btn-add-line:hover {
  background-color: var(--color-poly-g50);
}

/* Remove Line */
.btn-remove-line {
  background-color: var(--color-poly-o50);
  transition: all 0.2s ease-in-out;
}

.btn-remove-line:hover {
  background-color: var(--color-poly-r60);
}

/* Switch Text */

.btn-switch-line  {
  background-color: var(--color-brand-b50);
  transition: all 0.2s ease-in-out;
}

.btn-switch-line:hover,
.stroke-toggle:hover,
.color-pallete:hover,
.align-text button:hover,
.download-save-share button:hover  {
  background-color: var(--color-brand-b60);
}


/* TEXT ACTIONS SECTION */

/* Box */
.text-actions {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-top: 16px;
  background-color: var(--color-neutral-n10);
  padding: 20px 10px;
}

/* font family box */
#font-family {
  background-color: var(--color-brand-b50);
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  height: 100%;
  text-indent: 8px;
  font-weight: 600;
}

#font-size {
  font-weight: 600;
  background-color: var(--color-brand-b50);
  border: 0;
  border-radius: 8px;
  color: var(--color-neutral-n00);

  height: 100%;
  text-indent: 4px;
}

#font-family:hover, #font-size:hover {
  background-color: var(--color-brand-b60);
}

/* align text & switch line */
.align-text button {
  background-color: var(--color-brand-b50);
  transition: background-color 0.2s ease-in-out;
}

/* stroke */
.stroke-toggle {
  background-color: var(--color-brand-b50);
}

/* color pallete */
.color-pallete {
  background-color: var(--color-brand-b50);
}

/* New Text Box */
.text-input input {
  width: 100%;
  height: 66px;
  border: none;
  background: var(--color-neutral-n10);
  text-indent: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}


/* STICKERS SECTION */

.stickers {
  background-color: var(--color-neutral-n10);
  border-radius: 16px;
  height: 80%;
  margin-top: 16px;

  display: flex;
  justify-content: center; 
}


/* DOWNLOAD SAVE & SHARE BUTTONS */
.download-save-share button {
  width: calc(100% / 3);
  background-color: var(--color-brand-b50);
  cursor: pointer;
  border-radius: 0;

  height: 50px;
  border: none;

  transition: all 0.3s ease-in-out;
}
.download-save-share button:last-child {
  border-bottom-right-radius: 16px;
}

.download-save-share button:first-child {
  border-bottom-left-radius: 16px;
}

/* END OF FILE */