.footer {
  background-color: var(--color-neutral-n00);
  color: var(--color-neutral-n80);
  /* min-height: 65px; */
  border-top: 0.5px solid var(--color-neutral-n30);

  font-family: roboto-medium;

  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  z-index: 1000;
}