.gallery-container {
  padding: 27px;
  min-height: 100%;
}

.gallery-container img {
  border-radius: 8px;
  width: 100%;
  cursor: pointer;

  transition: scale 0.4s;
}

.gallery-container img:hover {
  scale: 1.1;
}

.gallery-container .upload-card {
  box-shadow: 0px 0px 0px 1px rgba(219, 219, 219, 1);

  border-radius: 8px;

  background-color: #fff;
}

.gallery-container .upload-card button {
  all: unset;
  cursor: pointer;
}

.gallery-container .fa-plus {
  font-size: 36px;
  color: #3a3a3a;
}