.gallery-container img {
  border-radius: 8px;
  cursor: pointer;

  transition: scale 0.4s;
}

.gallery-container img:hover {
  scale: 1.1;
}

.gallery-container .upload-card {
  border: 0.5px solid var(--color-neutral-n30);

  border-radius: 8px;

  background-color: var(--color-neutral-n02);
}

.gallery-container .upload-card button {
  all: unset;
  cursor: pointer;
}

.gallery-container .fa-plus {
  font-size: 36px;
  color: var(--color-neutral-n80);
}