.main-header {
  max-height: 65px;
  /* min-height: 65px; */
  padding: 16px 136px;
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(219, 219, 219, 1);
  z-index: 2;

  
  /* position: sticky; */
  /* top: 0; */
  width: 100%;
}

.main-header .logo {
  width: 152px;
  height: 32px;
}

.main-header .main-nav-list a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 16px;

  transition: color 0.3s;

  font-family: roboto-medium;
  line-height: 18.75px;
}


.main-header .main-nav-list a:hover {
  color: var(--primaryClr);
}