.main-header {
  padding: 16px 136px;
  background-color: var(--color-neutral-n02);
  box-shadow: 4px 5px 20px 0px #00000030;

  width: 100%;
}

.main-header .logo {
  width: 152px;
  height: 32px;
  cursor: pointer;
}

.main-header .main-nav-list a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 16px;

  transition: color 0.3s;

  font-family: roboto-medium;
  line-height: 18.75px;
}


.main-header .main-nav-list a:hover {
  color: var(--color-poly-o50);
}

.header-actions .dark-mode {
  width: 40px;
  height: 36px;
  color: var(--color-neutral-n80);

  border: 0.5px solid var(--color-neutral-n30);
}

.header-actions .github {
  width: 40px;
  height: 36px;
  color: var(--color-neutral-n80);

  border: 0.5px solid var(--color-neutral-n30);
}