/* Saved */

.saved-container {
  padding: 27px;
  width: 100vw;

}

.saved-container img {
  border-radius: 8px;
  width: 100%;
  cursor: pointer;

  transition: scale 0.4s;
}

.saved-container img:hover {
  scale: 1.1;
}

.delete-saved-btn {
  position: relative;
  font-size: 12px;
  right: -135px;
  top: -167px;
  width: 25px;
  height: 25px;
  color: var(--color-neutral-n00);
  background-color: var(--color-poly-r60);
  transition: transform 0.2s;
}

.delete-saved-btn:hover {
  transform: scale(1.05);
}
