
@media only screen and (max-width: 1285px) {
  .gallery-container { 
    grid-column: 1 / -1;
    padding: 32px;
    margin-right: 32px;
  }
  
  .editor-container {
    grid-column: 1 / -1;
  }

  .canvas-container {
    padding: 32px;
  }

  canvas {
    width: 30rem;
    height: 30rem;
  }
  
  .canvas-actions {
    width: 30rem;
    height: 30rem;
  }

  .hero-section p {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .editor-container {
    display: flex;
    flex-direction: column;
  }
  .gallery-container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 805px) {
  .gallery-container { 
    padding: 32px;
    height: calc(100dvh + 300px);
  }
  .hero-section p {
    width: 100%;
  }
}

@media only screen and (max-width: 646px) {
  .editor-container { 
    padding: 16px;
    grid-column: 1 / -1;
  }

  .download-save-share button {
    width: 100px;
    background-color: var(--color-brand-b50);
    cursor: pointer;
    border-radius: 0;
  
    height: 50px;
    border: none;

    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
  }
  .hero-section p {
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {

  canvas {
    margin-top: 32px;
  }

  .main-header .links {
    display: none;
  }

  .main-header {
    position: sticky;
    top: 0;
    height: 65px;
    padding: 0 16px;

  }
}



